/**
STYLE PAR DEFAUT POUR MOBILE
*/

/*FONT POUR L'ENIGME DE LA 404*/
@font-face {
    font-family:'AncientHylian';
    src: url('fonts/ancienthylian-webfont.woff2') format('woff2'),
         url('fonts/ancienthylian-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

body { 
    box-sizing:border-box;
    font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size:0.9em;
    background:rgba(53,184,203,1) url("images/fond.png") no-repeat fixed center;
    background-size:cover;
    -webkit-background-size: cover;
    color:rgba(0,30,34,1);
    padding-right:3em; }

h1 { font-variant:small-caps; text-align:center; letter-spacing:0.2em; border-bottom:1px solid rgba(0,30,34,1); 
margin:0 0 1em; padding:0 0 0.5em; }
h2 { margin:0.5em 0; font-size:1.2em; }

hr { height:1px; color:rgba(0,30,34,1); background-color:rgba(0,30,34,1); border:0; }

img { max-width:100%; height:auto; }

a { color:rgba(0,30,34,1); font-weight:bold; font-style:italic; text-decoration:none; }
a:hover, a:active { text-decoration:underline; }

.clear { clear:both; }

/*MARGES ENTRE LES CONTENEURS*/
.marge-conteneur { margin:3em 0; }


/*FORMULAIRE*/
fieldset, legend, table { width:100%; box-sizing:border-box; margin:1em 0; border:1px solid rgba(0,70,79,1); 
border-radius:0.8em; }
fieldset { background:rgba(0,184,203,0.8); }
legend { width:auto; padding:0 1em; background:rgba(0,150,170,1); }
table { border-collapse:collapse; }
caption { text-align:left; }


/*ELEMENT FORMULAIRE*/
input, select { display:inline-block; width:100%; box-sizing:border-box; border:1px solid rgba(0,70,79,1); 
border-radius:0.8em; background:rgba(0,165,185,0.8); padding:0.4em; }  

/*impossible de mixer les selecteurs pour Firefox et les selecteurs pour Webkit : separer les selecteurs*/
/*selecteur moz*/
input:-moz-placeholder, textarea:-moz-placeholder { color:rgba(0,50,57,1); font-style:italic; }
/*selecteur webkit*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:rgba(0,50,57,1); font-style:italic; }


/*TABLEAU*/
th { border:1px solid rgba(0,70,79,1); background:rgba(0,150,170,0.8); }
tr:nth-child(even) { background:rgba(0,180,200,0.8); }
tr:nth-child(odd) { background:rgba(0,165,185,0.8); }
th, td { width:20%; text-align:center; padding:0.5em 0.2em; }
th:first-child, td:first-child { width:60%; padding-left:0.5em; text-align:left; }


/*NAVIGATION*/
div.btn-session, footer { width:3em; }
div.btn-session { position:fixed; top:0; right:0; }
footer { position:fixed; bottom:0; right:0; }



/*-------------------*/
/*-------INDEX-------*/
/*-------------------*/

/*POSITIONNEMENT DU FORMULAIRE PLAGE*/
#index_ifrocean form#align-form-plage { margin-bottom:2em; }
#index_ifrocean form#align-form-plage label, form#align-form-plage select { display:inline-block; }

/*POSITIONNEMENT DU TABLEAU DES GROUPES*/
#index_ifrocean table { margin-top:2em; }

/*POSITIONNEMENT DU FORMULAIRE GROUPE*/
#index_ifrocean #align-form-groupe p { margin-top:0; }

/*SAISIE COORDONNEES*/
#index_ifrocean div.saisie-coordonnees h4 { text-align:left; }
#index_ifrocean div.saisie-coordonnees span { display:inline-block; }
#index_ifrocean div.saisie-coordonnees p, div.saisie-coordonnees p input { text-align:right; }
#index_ifrocean div.saisie-coordonnees p { width:17em; margin-left:auto; margin-right:auto; }
#index_ifrocean div.saisie-coordonnees p input:nth-child(2), div.saisie-coordonnees p input:nth-child(4) { width:3em; }
#index_ifrocean div.saisie-coordonnees p input:nth-child(6) { width:4em; }



/*-------------------*/
/*-------LOGIN-------*/
/*-------------------*/
form#align-form-login { padding:0 10%; }
form#align-form-login div.align-btn-droite>* { vertical-align:middle; }



/*--------------------*/
/*-------LOGGED-------*/
/*--------------------*/
#logged_ifrocean h1 { border-bottom:none; }



/*----------------------------------------------*/
/*-------INTERFACE PRELEVEUR et CHERCHEUR-------*/
/*----------------------------------------------*/

/*POSITIONNEMENT INFOS PLAGE*/
div#plage { margin-top:0; padding:1.5em; background:rgba(0,184,203,0.8); border:1px solid rgba(0,70,79,1); 
border-radius:0.8em; }
div#infos-projet h2 { margin-top:0; }
div#infos-projet, 
div#coordonnees { display:table; margin:1em auto; vertical-align:middle; }
div#coordonnees { border-top:1px solid rgba(0,70,79,1); padding-top:1em; }/*code de la div#coordonnees specifique a la version mobile*/
div#coordonnees div { box-sizing:border-box; float:left; width:50%; text-align:left; }
div#coordonnees div:nth-child(2), 
div#coordonnees div:nth-child(5) { float:right; text-align:right; }
div#coordonnees div:nth-child(1) { padding:0 1em 1em 0; }
div#coordonnees div:nth-child(2) { padding:0 0 1em 1em; }
div#coordonnees div:nth-child(4) { padding:1em 1em 0 0; }
div#coordonnees div:nth-child(5) { padding:1em 0 0 1em; }
div#coordonnees div:nth-child(3) { float:left; width:80%; margin:0 10%; padding:1em; text-align:center; 
background:rgba(0,70,79,0.2); }

/*POSITIONNEMENT DU TABLEAU DES ESPECES*/
#preleveur_ifrocean form#align-form-espece td:nth-child(2) input { width:3em; text-align:center; }
form#align-form-espece div.align-btn-droite>* { vertical-align:middle; }

/*AFFICHAGE DE LA MODIFICATION DES ESPECES DANS LE TABLEAU*/
#preleveur_ifrocean td.modif-espece input { background:transparent; border:none; }
#preleveur_ifrocean form#align-form-espece td.modif-espece:nth-child(2) input { width:100%; text-align:left; }
#preleveur_ifrocean form#align-form-espece td.modif-espece:nth-child(3) input { width:3em; text-align:center; }

/*AFFICHAGE DU TABLEAU DES PLAGES*/
#table-chercheur_ifrocean th, #table-chercheur_ifrocean td { width:12%; }
#table-chercheur_ifrocean th:first-child, #table-chercheur_ifrocean td:first-child { width:40%; }

/*AFFICHAGE DES BOUTONS RELATIFS A LA PLAGE*/
#interchercheur_ifrocean #plage form { display:inline-block; }

/**/
#table-chercheur_ifrocean p.align-date-creation-plage input { width:2.5em; text-align:right; }
#table-chercheur_ifrocean p.align-date-creation-plage input:nth-child(4) { width:3.5em; }




/*--------------------------*/
/*-------INTERACTIONS-------*/
/*--------------------------*/

/*BOUTON*/
.bouton, input.bouton, span#bouton_plage, a.bouton { cursor:pointer; margin:0 auto; box-sizing:border-box; padding:0.6em; 
color:rgba(255,255,255,1); font-weight:bold; background:rgba(0,90,101,1); border-radius:0.8em; }
input.bouton, span#bouton_plage, a.bouton { display:inline-block; border:1px solid rgba(0,70,79,1); margin:0.5em 0; }
a.bouton { text-decoration:none; }
.bouton:hover, .bouton:active, span#bouton_plage:hover, span#bouton_plage:active, a.bouton:hover, a.bouton:active 
{ background:rgba(0,140,159,1); }
input.bouton { width:auto; }

/*masque les fleches d'incrementation/decrementation des inputs de type number*/
input[type=number] {-moz-appearance: textfield;}/*pour firefox 29+*/
::-webkit-inner-spin-button, ::-webkit-outer-spin-button { -webkit-appearance: none;}/*pour chrome*/

/*ALIGNEMENT DES BOUTONS*/
div.align-btn-droite { text-align:right; padding:0 1em; }


/*CODE COULEUR COORDONNEES*/
.couleur0-0 { color:rgba(0,120,124,1); }/*coin en haut à gauche*/
.couleur0-1 { color:rgba(0,80,84,1); }/*coin en haut à droite*/
.couleur1-0 { color:rgba(0,60,64,1); }/*coin en bas à gauche*/
.couleur1-1 { color:rgba(0,100,104,1); }/*coin en bas à droite*/


/*MESSAGES*/
/*style commun aux messages*/
.valide_content, .error_content { border-radius:0.8em; text-align:center; margin:3em 0; padding:2% 10%; }
.valide_content a, .error_content a { text-decoration:none; font-weight:bold; }
.valide_content a:hover, .valide_content a:active, .error_content a:hover, .error_content a:active, 
#table-chercheur_ifrocean input.valide_content:hover, #table-chercheur_ifrocean input.valide_content:active 
{ color:rgba(28,210,149,1); background-color:rgba(0,90,0,1); }

/*style pour les messages valides*/
.valide_content, #table-chercheur_ifrocean .valide_content 
{ border:1px solid rgba(0,70,0,1); color:rgba(0,70,0,1); background-color:rgba(8,170,109,1); }
.valide_content a { color:rgba(0,70,0,1); }
/*style pour les messages d'erreurs*/
.error_content { border:1px solid rgba(70,0,0,1); color:rgba(70,0,0,1); background-color:rgba(180,0,0,0.4); }
.error_content a { color:rgba(0,70,0,1); }



/*-----------------*/
/*-------404-------*/
/*-----------------*/
div.display404 { position:relative; width:auto; }
div.enigme404 { z-index:1; position:absolute; top:8%; right:0; box-sizing:border-box; width:100%; height:7em; 
background:rgba(0,184,203,0.8); border:1px solid rgba(0,70,79,1); border-radius:0.8em; 
font-size:0.8em; padding:1em; line-height:1em; }
div.enigme404:hover { font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; }
div.enigme404 div.position-enigme404 { position:relative; }
span.traduction404 { width:6em; text-align:center; position:absolute; bottom:0; right:0; font-size:0.9em; 
display:inline-block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; }
#traduire404 { font-family:'AncientHylian'; }
div.position-enigme404 p { position:absolute; top:0; left:0; margin:0; }
div.display-enigme404 { position:relative; padding-top:7em; }
img.aura404 { opacity:0.2; cursor:pointer; position:absolute; top:22%; left:26%; z-index:1; width:19%; padding-top:5.4em; }
img.aura404:hover, img.aura404:active { opacity:1; }

div.recompence404 { z-index:2; position:absolute; top:0; left:0; box-sizing:border-box; width:100%; 
padding:10% 3% 10% 8%; background:rgba(0,150,170,1); border-radius:0.8em; }

div.map-hover { z-index:3; position:absolute; top:0; left:0; box-sizing:border-box; width:100%; 
padding:10% 3% 10% 8%; }
div.map-hover img.ilecarte404 { opacity:0; box-sizing:border-box; }
div.map-hover img.ilecarte404:hover, div.map-hover img.ilecarte404:active { opacity:0.5; }
div.map-hover img.NW { position:absolute; top:66%; left:12.4%; width:24%; }
div.map-hover img.W { position:absolute; top:241%; left:19.8%; width:5.8%; }
div.map-hover img.SW { position:absolute; top:352%; left:19.8%; width:17%; }
div.map-hover img.N { position:absolute; top:126%; left:63.1%; width:5.2%; }
div.map-hover img.C-NW { position:absolute; top:199%; left:41.5%; width:3.5%; }
div.map-hover img.C-SE { position:absolute; top:289%; left:53.4%; width:2.2%; }
div.map-hover img.S { position:absolute; top:374.5%; left:49.6%; width:6.6%; }
div.map-hover img.NE { position:absolute; top:141.5%; left:87%; width:6.5%; }
div.map-hover img.E { position:absolute; top:239.8%; left:73%; width:2%; }
div.map-hover img.SE { position:absolute; top:320%; left:70%; width:5%; }

div.btn-close-recompence404 { z-index:4; position:absolute; top:-3%; right:0; width:3em; }
img.poiscom404 { cursor:pointer; z-index:4; position:absolute; top:2%; left:2%; width:19%; 
transform:rotate(0deg); transform-origin:50% 50%; transition:all 2s; }
img.poiscom404:hover { transform:rotate(360deg); }
img.carte404 { opacity:0.8; }
div.recompence404 figure { margin:0; }
div.recompence404 figcaption { text-align:center; font-weight:bold; }

div.message404-standard { padding:5%; background:rgba(0,184,203,0.8); border:1px solid rgba(0,70,79,1); border-radius:0.8em; }
div.message404-standard ul { padding-left:1em; }
div.message404-standard ul li { margin:0.5em 0; }



@media screen and (min-width:768px){
    div#align-form-coordonnee div.saisie-coordonnees {  }
}



/**
STYLE POUR ECRAN
*/
@media screen and (min-width:1024px){
    body { padding:0 10%; }
    h1 { margin-top:1em; }
    
    /*FORMULAIRE*/
    legend { padding:0 2em; }

    /*TABLEAU*/
    th, td { width:10%; }
    th:first-child, td:first-child { width:80%; }
    
    
    
    /*-------------------*/
    /*-------INDEX-------*/
    /*-------------------*/

    /*POSITIONNEMENT DU FORMULAIRE PLAGE*/
    form#align-form-plage { text-align:right; }
    form#align-form-plage label { width:20%; text-align:left; }
    form#align-form-plage select { width:79%; }
    
    /*SAISIE COORDONNEES*/
    div#align-form-coordonnee { display:table; width:100%; }
    div#align-form-coordonnee>div { display:table-row; }
    div#align-form-coordonnee div.saisie-coordonnees { box-sizing:border-box; display:table-cell; width:50%; padding:0 3em; }
    div#align-form-coordonnee div.saisie-coordonnees:nth-child(2) { text-align:right; }
    
    
    
    /*-------------------*/
    /*-------LOGIN-------*/
    /*-------------------*/
    form#align-form-login label { display:inline-block; width:20%; text-align:left; }
    form#align-form-login input:nth-child(2) { width:79%; }
    form#align-form-login div.align-btn-droite a.bouton { padding:0.5em; }
    
    
    
    /*--------------------------------------------------*/
    /*-------INTERFACE PRELEVEUR et CHERCHERCHEUR-------*/
    /*--------------------------------------------------*/
    
    /*POSITIONNEMENT INFOS PLAGE*/
    div#infos-projet, div#coordonnees { display:inline-block; }
    div#infos-projet { width:69%; }
    div#coordonnees { width:29%; border-top:none; padding-top:0; }
    form#align-form-espece div.align-btn-droite a.bouton { padding:0.5em; }  

    
    
    /*-----------------*/
    /*-------404-------*/
    /*-----------------*/
    div.recompence404 { padding:7% 3% 5% 8%; }
    
    div.map-hover img.NW { position:absolute; top:48%; left:12.2%; }
    div.map-hover img.W { position:absolute; top:222%; left:19.5%; width:5.8%; }
    div.map-hover img.SW { position:absolute; top:331%; left:19.5%; width:17%; }
    div.map-hover img.N { position:absolute; top:109%; left:62.4%; width:5.2%; }
    div.map-hover img.C-NW { position:absolute; top:180%; left:41%; width:3.5%; }
    div.map-hover img.C-SE { position:absolute; top:268.5%; left:52.8%; width:2.2%; }
    div.map-hover img.S { position:absolute; top:353%; left:49%; width:6.6%; }
    div.map-hover img.NE { position:absolute; top:123%; left:86%; width:6.5%; }
    div.map-hover img.E { position:absolute; top:220%; left:72.3%; width:2%; }
    div.map-hover img.SE { position:absolute; top:299%; left:69.2%; width:5%; }
    
    div.display404, div.message404-standard { box-sizing:border-box; }
    div.display404 { float:left; width:70%; margin-right:2%;}
    div.message404-standard { float:left; width:28%; padding:2%; }
}